@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

//colors
$text-black-color: #353437;
$pink-color: #fa1988;
$blue-color: #1884e9;
$gray-color: #e7e6ee;

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  tbody {
    tr:hover {
      color: #009879;
    }
  }
  th,
  td {
    padding: 10px 15px;
  }
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.input {
  display: flex;
  gap: 10px;
  .form-control {
    width: 150px;
  }
}

.user-name {
  min-width: 150px;
}

.user-last-name {
  min-width: 200px;
}

.balance {
  min-width: 230px;
}
